/*----------------------------------------
	25. accordion css
----------------------------------------*/

@use "../abstract" as *;

.accordion-item {
	background: var(--clr-theme-1);
	padding: 20px 40px;
	margin-bottom: 10px;
	border: 0;
	border-radius: 0 !important;

	@media #{$xxs} {
		padding: 20px 20px;
	}
}

.accordion-button {
	font-size: 24px;
	font-weight: 400;
	border: 0;
	padding: 0;
	text-align: start;
	color: var(--clr-common-white);
	background: var(--clr-theme-1);
}

.accordion-body {
	background: var(--clr-common-white);
	padding: 30px 40px;
	padding-inline-end: 44px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.accordion-collapse {
	border: 0;
}

.accordion-button:focus {
	border: 0;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	background: none;
	color: var(--clr-theme-2);
	box-shadow: none;
}

.accordion-button::after {
	width: auto;
	height: auto;
	content: "\f126";
	font-family: flaticon_armado_-_militery_service_themeset !important;
	color: var(--clr-common-white);
	font-size: 20px;
	transform: rotate(90deg);
	background-image: none;

	@media #{$xxs} {
		font-size: 16px;
	}
}

.accordion-button:not(.collapsed)::after {
	color: var(--clr-theme-2);
	transform: rotate(270deg);
	background-image: none;
}