/*----------------------------------------
	30. blog css
----------------------------------------*/

@use "../abstract" as *;

.blog-single,
.single-blog,
.sidebar-blog,
.single-news,
.service-single,
.single-feature,
.team-default,
.service-content {
	&:hover {

		.blog-thumb,
		.footer-blog-thumb,
		.service-thumb,
		.feature-thumb {
			a {
				&::after {
					animation: shine 800ms;
				}
			}

			img {
				transform: scale(1.03);
			}
		}
	}
}

.blog-thumb,
.latest-news-thumb,
.footer-blog-thumb,
.service-thumb,
.feature-thumb {
	position: relative;
	overflow: hidden;

	>a {
		position: relative;
		height: 100%;
		display: block;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: -75%;
			z-index: 2;
			display: block;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
			transform: skewX(-25deg);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.blog-pagination {
	position: absolute;
	inset-inline-end: 0;
	top: -90px;
}

// blog main style
.blog-main-single {
	.blog-thumb {
		display: block;

		a {
			&:after {
				display: none;
			}
		}
	}

	.blog-tag {
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-theme-2);
		height: 32px;
		display: inline-flex;
		padding: 0 17px;
		background: var(--clr-common-white);
		align-items: center;

		&:hover {
			color: var(--clr-theme-1);
			background: var(--clr-theme-2);
		}
	}

	.blog-tags {
		position: absolute;
		top: 40px;
		inset-inline-start: 40px;
		z-index: 2;

		@media #{$sm,$xs} {
			top: 20px;
			inset-inline-start: 20px;
		}
	}

	.blog-title {
		font-size: 26px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.46;

		@media #{$xxs} {
			font-size: 24px;
		}

		a {
			&:hover {
				color: var(--clr-theme-2);
			}
		}
	}

	.blog-meta-wrapper {
		border-top: 1px solid var(--clr-common-border);
		border-bottom: 1px solid var(--clr-common-border);
		display: flex;
		justify-content: space-between;
		gap: 20px 30px;
		padding: 15px 0;
		margin-top: 18px;

		@media #{$xs} {
			flex-direction: column;
		}
	}

	.meta-list {
		display: flex;
		gap: 15px 35px;
		flex-wrap: wrap;
	}

	.meta-item {
		display: inline-flex;
		gap: 0 10px;
		align-items: center;
		line-height: 1;

		a {
			display: inline-flex;
			gap: 0 10px;
			align-items: center;
			line-height: 1;

			&:hover {
				color: var(--clr-theme-2);
			}
		}
	}

	.blog-share {
		display: flex;
		gap: 0 20px;

		.share-icon {
			color: var(--clr-theme-3);
		}
	}

	.blog-social {
		&.social-links {
			ul {
				display: flex;
				gap: 0 13px;

				li {
					a {
						width: 26px;
						height: 26px;
						border: 1px solid #e8e8e8;
						color: var(--clr-theme-3);
						display: inline-flex;
						align-items: center;
						justify-content: center;
						background: var(--clr-common-white);

						&:hover {
							color: var(--clr-theme-2);
							border-color: var(--clr-theme-2);
						}
					}
				}
			}
		}
	}

	.blog-content {
		padding: 30px 0 10px;
	}
}

// blog main style2
.blog-main-single-2 {
	&:hover {
		.blog-thumb {
			img {
				transform: scale(1.07);
			}
		}
	}

	.blog-thumb {
		position: relative;
		min-height: 275px;
		height: 275px;

		a {
			&::after {
				display: none;
			}
		}
	}

	.blog-tag {
		font-size: 12px;
		font-weight: 500;
		color: var(--clr-theme-1);
		height: 28px;
		display: inline-flex;
		gap: 5px;
		padding: 0 12px;
		background: var(--clr-bg-4);
		align-items: center;
		border-radius: 28px;

		&:hover {
			background: var(--clr-theme-1);
			color: var(--clr-common-white);
		}

		&::before {
			content: "\f02b";
			font-family: "Font Awesome 5 Pro";
		}
	}

	.blog-tags {
		position: static;
		top: 30px;
		inset-inline-start: 30px;

		@media #{$sm,$xs} {
			top: 20px;
			inset-inline-start: 20px;
		}
	}

	.blog-title {
		font-size: 26px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.34;
		margin-bottom: 0;

		@media #{$xxs} {
			font-size: 24px;
		}

		&:hover {
			a {
				color: var(--clr-theme-2);
			}
		}
	}

	.blog-meta-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 20px 30px;
		padding: 0px 0;
		margin-top: 0;
		margin-bottom: 20px;
		flex-wrap: wrap;
	}

	.meta-list {
		display: flex;
		gap: 15px 35px;
		flex-wrap: wrap;
	}

	.meta-item {
		display: inline-flex;
		gap: 0 10px;
		align-items: center;
		line-height: 1;
		font-size: 14px;
		color: var(--clr-theme-3);

		a {
			display: inline-flex;
			gap: 0 10px;
			align-items: center;
			line-height: 1;

			&:hover {
				color: var(--clr-theme-2);
			}
		}
	}

	.blog-content {
		padding: 25px 0 0px;
	}
}

.blog-isotope {
	>div:nth-child(2) {
		margin-top: 60px;

		@media #{$sm,$xs} {
			margin-top: 0;
		}

		.blog-thumb {
			min-height: 500px;
			height: 500px;
		}
	}

	>div:nth-child(3) {
		margin-top: 30px;

		@media #{$sm,$xs} {
			margin-top: 0;
		}
	}

	>div:nth-child(6) {
		.blog-thumb {
			min-height: 500px;
			height: 500px;
		}
	}
}

.blog-isotope-pagination {
	&.basic-pagination {
		ul {
			justify-content: center;
		}
	}
}

// blog details style
.blog-details-single {
	&:hover {
		.blog-thumb {
			a {
				pointer-events: none;

				&::after {
					display: none;
				}

				img {
					transform: scale(1);
				}
			}
		}

	}

	.blog-thumb {
		position: relative;

		img {
			width: 100%;
		}
	}

	.blog-tag {
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-theme-2);
		height: 32px;
		display: inline-flex;
		padding: 0 17px;
		background: var(--clr-common-white);
		align-items: center;
	}

	.blog-tags {
		position: absolute;
		top: 40px;
		inset-inline-start: 40px;

		@media #{$sm,$xs} {
			top: 20px;
			inset-inline-start: 20px;
		}
	}

	.blog-title {
		font-size: 26px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.46;

		@media #{$xxs} {
			font-size: 24px;
		}

		a {
			pointer-events: none;
		}
	}

	.blog-meta-wrapper {
		border-top: 1px solid var(--clr-common-border);
		border-bottom: 1px solid var(--clr-common-border);
		display: flex;
		justify-content: space-between;
		gap: 20px 30px;
		padding: 15px 0;
		margin-top: 18px;
		margin-bottom: 22px;

		@media #{$xs} {
			flex-direction: column;
		}
	}

	.meta-list {
		display: flex;
		gap: 15px 35px;
		flex-wrap: wrap;
	}

	.meta-item {
		display: inline-flex;
		gap: 0 10px;
		align-items: center;
		line-height: 1;

		a {
			display: inline-flex;
			gap: 0 10px;
			align-items: center;
			line-height: 1;
		}
	}

	.blog-share {
		display: flex;
		gap: 0 20px;

		.share-icon {
			color: var(--clr-theme-3);
		}
	}

	.blog-social {
		&.social-links {
			ul {
				display: flex;
				gap: 0 13px;

				li {
					a {
						width: 26px;
						height: 26px;
						border: 1px solid #e8e8e8;
						color: var(--clr-theme-3);
						display: inline-flex;
						align-items: center;
						justify-content: center;
						background: var(--clr-common-white);

						&:hover {
							color: var(--clr-theme-2);
							border-color: var(--clr-theme-2);
						}
					}
				}
			}
		}
	}

	.meta-tags-wrapper {
		display: flex;
		gap: 15px;

		.tags-title {
			font-size: 16px;
			font-weight: 700;
			color: var(--clr-theme-1);
		}

		.blog-tag {
			font-size: 14px;
			font-weight: 400;
			color: var(--clr-theme-3);
			height: 32px;
			display: inline-flex;
			padding: 0 10px;
			background: var(--clr-common-white);
			align-items: center;
			border: 1px solid var(--clr-common-border);

			&:hover {
				color: var(--clr-theme-1);
				background: var(--clr-theme-2);
				border-color: var(--clr-theme-2);
			}
		}
	}

	.blog-content {
		padding: 30px 0 10px;
	}

	.details-topic {
		margin-bottom: 40px;
	}

	.blog-sub-image {
		display: flex;
		gap: 30px;
		margin-bottom: 30px;

		>div {
			border-radius: 0px;
			width: calc((100% - 20px) / 2);

			img {
				width: 100%;
			}
		}
	}
}

// blockquote style

.blockquote-wrapper {
	background: #fffbf1;
	padding: 32px 34px 32px 34px;
	border-radius: 10px;
	position: relative;
	z-index: 2;
	margin: 30px 0;

	&:before {
		position: absolute;
		content: "";
		width: 3px;
		height: 100%;
		top: 0;
		inset-inline-start: 0;
		background: var(--clr-theme-2);
	}
}

.blockquote-content {
	display: flex;
	gap: 16px;
	align-items: flex-start;

	@media #{$xxs} {
		flex-direction: column;
	}

	.blockquote-icon {
		font-size: 30px;
		color: var(--clr-theme-1);
		padding-top: 5px;
	}

	p {
		font-size: 20px;
		line-height: 1.7;
		color: var(--clr-theme-1);
		font-weight: 400;
		text-transform: capitalize;
		margin-bottom: 0 !important;

		@media #{$sm,$xs} {
			font-size: 18px;
		}
	}
}

// sidebar-widget-wrapper 
.sidebar-widget-wrapper {
	position: sticky;
	top: 0;
}

// blog sidebar style
.blog-sidebar-widget {
	background: var(--clr-common-white);
	padding: 30px 30px;
	box-shadow: 0px 4px 92px 16px rgba(30, 73, 66, 0.1);
}

.sidebar-widget-title {
	font-size: 26px;
	font-weight: 700;
	position: relative;
	margin-bottom: 25px;
	line-height: 1;
	text-transform: uppercase;

	&::before {
		position: absolute;
		content: "";
		width: 2px;
		height: 17px;
		background: var(--clr-theme-2);
		inset-inline-start: -30px;
		top: 2px;
	}
}

.sidebar-search {
	position: relative;

	input {
		width: 100%;
		height: 55px;
		border: 1px solid #f0f0f0;
		background: #f0f0f0;
		border-radius: 0;
		padding: 0 23px;
		padding-inline-end: 60px;
		outline: 0;

		&::placeholder {
			color: #a1a1a1;
		}

		&:focus {
			border-color: var(--clr-theme-2);
		}
	}

	button {
		position: absolute;
		inset-inline-end: 16px;
		top: 13px;
		color: var(--clr-theme-3);
		line-height: 1;
		width: 30px;
		height: 30px;
	}
}

.sidebar-category {
	&.category-list {
		ul {
			li {
				a {
					color: var(--clr-theme-1);
					padding-inline-start: 18px;
					position: relative;

					&:hover {
						color: var(--clr-theme-2);
						padding-inline-start: 23px;

						&:before {
							background: var(--clr-theme-2);
						}
					}

					&:before {
						position: absolute;
						content: "";
						width: 8px;
						height: 8px;
						background: var(--clr-common-border);
						border-radius: 50%;
						inset-inline-start: 0;
						top: 50%;
						transform: translateY(-50%);
						line-height: 1;
					}
				}
			}

			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

.sidebar-blog-list {
	display: flex;
	flex-direction: column;
	gap: 30px 0;

	.sidebar-blog {
		@media #{$lg,$xxs} {
			flex-direction: column;
		}

	}
}

.sidebar-blog {
	display: flex;
	gap: 10px 20px;

	&:hover {
		.blog-thumb {
			img {
				transform: scale(1.03);
			}
		}
	}

	.blog-thumb {
		width: 90px;
		height: 90px;
		min-width: 90px;
	}

	.blog-title {
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.46;
		margin-bottom: 12px;

		a {
			&:hover {
				color: var(--clr-theme-2);
			}
		}
	}

	.meta-list {
		display: flex;
		gap: 10px 20px;
		flex-wrap: wrap;
	}

	.meta-item {
		display: inline-flex;
		gap: 0 10px;
		align-items: center;
		line-height: 1;
		font-size: 14px;

		a {
			display: inline-flex;
			gap: 0 10px;
			align-items: center;
			line-height: 1;

			&:hover {
				color: var(--clr-theme-2);
			}
		}
	}
}

.sidebar-blog-tags {
	display: flex;
	gap: 10px 10px;
	flex-wrap: wrap;

	.blog-tag {
		font-size: 14px;
		font-weight: 400;
		color: var(--clr-theme-3);
		height: 32px;
		display: inline-flex;
		padding: 0 10px;
		background: var(--clr-common-white);
		align-items: center;
		border: 1px solid var(--clr-common-border);

		&:hover {
			color: var(--clr-theme-1);
			background: var(--clr-theme-2);
			border-color: var(--clr-theme-2);
		}
	}
}

//pagination css
.basic-pagination ul {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: flex-start;

	li {

		& a,
		& span {
			background: var(--clr-common-white);
			color: var(--clr-theme-1);
			font-size: 20px;
			font-weight: 500;
			width: 60px;
			height: 60px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 50%;
			border: 1px solid var(--clr-common-border);
		}
	}
}

.basic-pagination ul li a:hover,
.basic-pagination ul li span.current {
	background: var(--clr-theme-2);
	color: var(--clr-theme-1);
	border-color: var(--clr-theme-2);
}

// blog-nav-items style
.blog-nav-items {
	display: flex;
	justify-content: space-between;
	gap: 25px;

	@media #{$xxs} {
		flex-direction: column;
	}

	.blog-next {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;

		@media #{$xxs} {
			align-items: flex-start;
			margin-top: 30px;
		}
	}

	.blog-single {
		display: flex;
		gap: 10px 20px;
		max-width: 390px;

		@media #{$lg,$sm,$xs} {
			flex-direction: column;
		}

		.blog-thumb {
			width: 90px;
			height: 90px;
			min-width: 90px;
		}

		.blog-title {
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.46;
			margin-bottom: 12px;
		}

		.meta-list {
			display: flex;
			gap: 10px 20px;
			flex-wrap: wrap;

			@media #{$xl,$lg,$xxs} {
				flex-direction: column;
			}
		}

		.meta-item {
			display: inline-flex;
			gap: 0 10px;
			align-items: center;
			line-height: 1;

			a {
				display: inline-flex;
				gap: 0 10px;
				align-items: center;
				line-height: 1;
			}
		}
	}

	.blog-status {
		font-size: 18px;
		font-weight: 600;
		color: var(--clr-theme-3);
		display: inline-flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 25px;

		i {
			font-weight: 500;
			font-size: 20px;

			@include rtl {
				transform: rotateY(180deg);
			}
		}
	}
}

// about-author style
.about-author {
	background: var(--clr-bg-4);
	padding: 43px 40px;
	display: flex;
	gap: 30px 20px;

	@media #{$xs} {
		flex-direction: column;
	}

	.social-links.author-social {
		ul {
			li {
				a {
					width: 26px;
					height: 26px;
					background: var(--clr-common-white);
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: var(--clr-theme-3);

					&:hover {
						background: var(--clr-common-white);
						color: var(--clr-theme-2);
					}
				}
			}

			display: flex;
			gap: 13px;
		}
	}

	.author-name {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.author-designation {
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-theme-3);
	}

	.author-text p {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 0;
	}

	.author-meta-social {
		border-bottom: 1px solid var(--clr-common-border);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px 15px;
		flex-wrap: wrap;
		padding-bottom: 10px;
		margin-bottom: 20px;

	}
}

// blog-comment-form style
.blog-comment-form {
	.single-input-field {
		margin-bottom: 30px;
	}

	.single-input-field input {
		border-radius: 0;
		padding: 0 22px;

		&::placeholder {
			font-size: 14px;
			color: var(--clr-common-placeholder);
		}
	}

	.single-input-field::before {
		display: none;
	}

	.single-input-field textarea {
		border-radius: 0;
		padding: 12px 22px;
		height: 220px;

		&::placeholder {
			font-size: 14px;
			color: var(--clr-common-placeholder);
		}
	}

	.fill-btn {
		background: var(--clr-theme-2);
		border-color: var(--clr-theme-2);
		color: var(--clr-theme-1);
		padding: 0 35px;

		&:hover {
			background: var(--clr-theme-1);
			border-color: var(--clr-theme-1);
			color: var(--clr-common-white);
		}
	}

	.comment-agree p {
		font-size: 14px;
		font-weight: 400;
		color: var(--clr-theme-3);
	}

	.comment-agree p input {
		margin-inline-end: 10px;
	}
}



// blog 3 style 
.blog-area-overlay {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	inset-inline-start: 0;
	background: var(--clr-common-black);
	z-index: -1;
}


.blog-group {
	background: var(--clr-common-white);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 115px;

	.blog-content {
		padding: 0;
	}

	.blog-btn {
		margin-top: 17px;
		line-height: 1;
	}

	.single-blog {
		position: relative;

		&:not(:first-child) {
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				background: var(--clr-common-border);
				top: -58px;
			}
		}
	}

	.meta-text {
		color: var(--clr-theme-3);
	}

	.blog-meta-wrapper {
		margin-bottom: 22px;
	}
}

.blog-group-thumb {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.blog-slider-2 {
	height: 100%;
}

.blog-2-pagination {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 5px;
	z-index: 2;

	.swiper-pagination-bullet {
		width: 10px;
		height: 4px;
		border-radius: 4px;
		background: var(--clr-common-white);
		opacity: 1;

		&.swiper-pagination-bullet-active {
			background: var(--clr-theme-2);
		}
	}
}

.blog-area {
	&-shape-1 {
		position: absolute;
		width: 250px;
		left: 0;
		top: 0;
		opacity: .1;
		z-index: -1;
		transform: translate(-50%, -50%);

		@media #{$xl,$lg,$md} {
			width: 200px;
		}


		@media #{$sm,$xs} {
			display: none;
		}
	}

	&-shape-2 {
		position: absolute;
		width: 87px;
		inset-inline-start: 105%;
		bottom: -35px;
		opacity: .25;
		z-index: -1;
		animation: translateY 10s linear infinite alternate;
	}
}