/*----------------------------------------
	14. contact-form css
----------------------------------------*/

@use "../abstract" as *;

.contact-form-style {
	position: relative;
	z-index: 2;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	inset-inline-start: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}



.contact-content {
	.bd-section-title {
		color: var(--clr-common-white);
	}

	p {
		color: var(--clr-common-white);
		max-width: 700px;
		margin-bottom: 0;
	}
}

.contact-form-wrapper-1 {
	background: var(--clr-common-black);
	padding: 130px 65px;

	@media #{$xl} {
		padding: 130px 40px;
	}

	@media #{$xxs} {
		padding: 130px 30px;
	}

	.single-input-field {
		input {
			border-color: #323232;
			background: #121212;
			color: var(--clr-common-white);
		}

		textarea {
			border-color: #323232;
			background: #121212;
			color: var(--clr-common-white);
		}
	}

	.border-btn {
		width: 100%;
		border-radius: 6px;
		border-color: var(--clr-common-white);
		color: var(--clr-common-white);

		&:hover,
		&:focus {
			border-color: var(--clr-theme-2);
			background: var(--clr-theme-2);
			color: var(--clr-theme-1);
		}
	}
}



.contact-form {
	&-area-shape-1 {
		position: absolute;
		inset-inline-end: calc(100% + 10px);
		bottom: 70px;
		width: 130px;
		animation: translateY 10s linear infinite alternate;
	}

	&-area-shape-2 {
		position: absolute;
		inset-inline-start: 105%;
		bottom: 540px;
		width: 68px;
		animation: translateY 10s linear infinite alternate;
	}
}


// appintment form style 
.appointment-form-wrapper {
	position: relative;
}

.appointment-form {
	padding: 65px 63px;

	@media #{$sm,$xs} {
		padding: 65px 40px;
	}

	@media #{$xxs} {
		padding: 65px 20px;
	}

	.single-input-field input {
		background: rgba(18, 18, 18, 0.8);
		border: 1px solid #323232;
		border-radius: 0;
		color: var(--clr-common-white);
	}

	.single-input-field textarea {
		background: rgba(18, 18, 18, 0.8);
		border: 1px solid #323232;
		border-radius: 0;
		color: var(--clr-common-white);
	}
}

.appointment-btn {
	.border-btn {
		height: 55px;
		width: 100%;
		color: var(--clr-common-white);
		border-color: var(--clr-common-white);

		&:hover,
		&:focus {
			border-color: var(--clr-theme-2);
			background: var(--clr-theme-2);
			color: var(--clr-theme-1);
		}
	}
}

.appointment-form-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	inset-inline-start: 0;
	overflow: hidden;
	z-index: -1;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		inset-inline-start: 0;
		background: var(--clr-common-black);
		opacity: .9;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.appointment-section-title-wrapper {
	.bd-section-subtitle.st-b span {
		color: var(--clr-common-white);
	}

	.bd-section-title {
		color: var(--clr-common-white);
	}
}

.question-inner-shape-1 {
	position: absolute;
	width: 574px;
	inset-inline-end: -350px;
	bottom: 74px;
	opacity: 0.25;
	z-index: -1;
}

.question-inner-shape-2 {
	position: absolute;
	width: 346px;
	inset-inline-end: -180px;
	bottom: 0130px;
	opacity: 0.25;
	z-index: -1;
}